<%- include('inc/_header'); %>
<main id="main">
    <!-- idx_mainvisual -->
    <section id="idx_mainvisual">
        <div class="inner"> </div>
    </section>

    <!-- idx_xxx -->
    <section id="idx_xxx">
        <div class="inner"> </div>
    </section>

    <!-- idx_xxxx -->
    <section id="idx_xxxx">
        <div class="inner"> </div>
    </section>

    <!-- idx_xxxxx -->
    <section id="idx_xxxxx">
        <div class="inner"> </div>
    </section>

    <!-- idx_xxxxxx -->
    <section id="idx_xxxxxx">
        <div class="inner"> </div>
    </section>

    <!-- idx_xxxxxxx -->
    <section id="idx_xxxxxxx">
        <div class="inner"> </div>
    </section>
</main>
<%- include('inc/_footer'); %>