<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/style_res.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="./assets/js/jquery.js"></script>
</head>

<body>
    <!--▼ Header ▼-->
    <div id="wrapper">
        <header id="header">
            <div class="header_box01">
                <div class="inner">
                    <div class="box_l">
                        <p class="h_phone"><a href="tel:1900633675"><i></i>1900 633 675</a></p>
                        <p class="h_txt">DISCOVER OUR STUDENT DISCOUNT PROGRAM ... DISCOVER OUR STUDENT </p>
                    </div>
                    <div class="box_r">
                        <p class="btn_search">
                            <span><i></i></span>
                            <input type="text" placeholder="Nhập từ khóa">
                        </p>
                        <p class="btn_translate">
                            <i></i>
                            <select name="cars" id="cars">
                                <option value="tiengviet">Tiếng Việt</option>
                            </select>
                        </p>
                    </div>
                </div>
            </div>
            <h1 id="top"></h1>
            <div class="hamburger"><span></span><span></span><span></span></div>
            <div class="menu"></div>
        </header>